.body{
    background-image: url(#{request.contextPath}/resources/images/wallpaper.JPEG);
    background-size: 45%;
    background-repeat: repeat;
}

#date{
    text-align: center;
    margin: 0 auto;
}
#canv{
    text-align: center;
    margin: 0 auto;
}